<nav class="navbar navbar-expand-sm" >
        <!-- Brand/logo -->      
        <a class="navbar-brand" [routerLink]="['/index']">FUTURE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span><i class="fas fa-bars" style="color:feac00;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a [routerLink]="['/listsubject']">Làm bài thi</a>
            </li>
            <li class="nav-item ">
                <a [routerLink]="['/fixinfo']">Sửa thông tin</a>
            </li>
            <li class="nav-item ">
                <a [routerLink]="['/fixpassword']">Đổi mật khẩu</a>    
            </li>
            <li class="nav-item ">
                    <a [routerLink]="['/index']" (click)="logOut()">Đăng xuất</a>    
            </li>
        </ul>
    </div>
    </nav>
    <div class="fixinfo">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-sm-12" style="text-align: center;padding: 5em 5em 3.5em;">
                <h3 style="margin: 50px 0;">QUẢN LÝ TÀI KHOẢN FUTURE CỦA BẠN</h3>
                <img src="assets/images/9.jpg" style="width: 80%;height: 65%;">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin:50px 0; ">
                <h3 style="text-align: center;">Đổi mật khẩu</h3>
                <form style="margin-top: 50px;">
                        <div class="form-left">
                                <span><i class="fas fa-lock"></i></span>
                                <input [(ngModel)]="infoFix.newPassword" [ngModelOptions]="{standalone: true}" type="password" name="password" placeholder="Password mới" >
                        </div>
                        <div class="form-left">
                                <span><i class="fas fa-lock"></i></span>
                                <input [(ngModel)]="infoFix.oldPassword" [ngModelOptions]="{standalone: true}" type="password" name="passwordcu" placeholder="Password cũ" >
                        </div>
                    <div class="form-left">
                            <span><i class="far fa-envelope"></i></span>
                            <input [(ngModel)]="infoFix.email" [ngModelOptions]="{standalone: true}" type="email" name="email" placeholder="Email xác nhận" >
                    </div>
                    <div class="row" >
                            <div class="col-6"><button type="submit" (click)='fixPassword()'>Thay đổi</button></div>
                            <div class="col-6"><button type="reset">Hủy</button></div>                       
                        </div>
                        <div class="row" style="margin-top:30px ">
                                <div class="col-6"><a [routerLink]="['/q-&-a']">Cần trợ giúp ?</a></div>
                        </div>
                </form>
            </div>
        </div>
    </div>
