nav ul a{
    font-size: large;
    text-decoration: none;
    padding: 10px 30px;
    color: wheat;
}
a:hover{
    border-radius: 10px;
    color: chocolate;
    text-decoration: none;
}
nav ul a:hover{
    border-radius: 10px;
    color: chocolate;
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color:  rgb(41, 33, 33);
    z-index: 9999;
}
.navbar-brand{
    font-size: xx-large;
    color: chocolate;
}
.fixinfo{
    padding-top: 130px;
    padding-bottom:50px;
    background-color: rgb(248, 240, 226);
    height: 130%;
    width: 100%;
    padding-right: 15px;
}
nav label{
    color: white;
}
nav input,button{
    width: 100%;
    border-radius: 5px;
    border: none;
}
nav button{
    padding: 5px 20px;
    width:auto;
    background: #feac00;
    border: 1px solid #feac00;
}
nav button:hover{
    background: none; 
    color: #feac00;

}
.form-left span{
    padding-bottom: -10px;
    font-size: 25px;
    border: none;
    color: #cccccc;
    width: auto;
    border-right: 1px solid #a5a2a2;
}
.form-left i{
    display: inline-block;
    font: normal normal normal 14px/1;
    text-rendering: auto;
    width:50px;
}
.form-left{
    margin: 0px 0px 36px;
    padding-bottom: 17px;
    border-bottom: 1px solid #a5a2a2;
}
.form-left input{
    font-size: 16px;
    padding-left: 25px;
    color: #000;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    width: 61%;
}
.form-left:hover{
    border-color: greenyellow;
}
.form-left:hover i{
    border-color: greenyellow;
    color: greenyellow;
}
.form-left:hover span{
    border-color: greenyellow;
}
.fixinfo .col-lg-4{
    background: #fff;
    box-shadow: 0px 0px 10px 1px #cccccc;
    border-radius:5px; 
    padding: 5em 5em 3.5em;
}
.fixinfo button{
    width: auto;
    padding: 0 15%;
    height: 150%;
    border-radius:5px; 
}
.fixinfo button:hover{
    background: black;
    color: greenyellow;
}
.fixinfo a{
    color: black;
}
.fixinfo a:hover{
    color: #feac00;
}




