   <nav class="navbar navbar-expand-sm">
        <!-- Brand/logo -->
        <a class="navbar-brand mr-auto" [routerLink]="['/index']">FUTURE</a>
        <ul class="navbar-nav">
                <li class="nav-item">
                        <a [routerLink]="['/intro']"><i class="fas fa-info"></i> Giới Thiệu</a>
                </li>
                <li class="nav-item">
                        <a [routerLink]="['/contact-us']"><i class="fas fa-phone"></i> Liên Hệ</a>
                </li>
                <li class="nav-item">
                        <a [routerLink]="['/q-&-a']"><i class="fas fa-question"></i> Hỏi Đáp</a>
                </li>
                <li class="nav-item">
                        <a [routerLink]="['/account']"><i class="fas fa-user-alt"></i> Đăng Nhập</a>
                </li>
              </ul>
    </nav>
<div class="intro">
    <h3>Về Future</h3>
    <img class="img-top" src="assets/images/1.jpg">
    <p>Với các môn học đa dạng về lĩnh vực công nghệ thông tin và truyền thông, cả ngàn câu hỏi thật tế và chuyên môn
            luôn được cập nhật giúp học sinh có thể hiểu sâu hơn về lĩnh vực của mình</p>
    <p>Future là website thi thử trực tuyến dành cho sinh viên trường Cao đẳng Công Nghệ Thông Tin HCM</p>
    <p>Mỗi môn thi sẽ có thời gian quy định cụ thể và và số lượng câu hỏi khác nhau, kết quả sau mỗi lần thi của thí
        sinh được lưu trữ.</p>
    <div class="gallery container">
        <h3>Một số môn</h3>
        <div class="row">
            <div class="col-md-3 col-6">
                <img src="assets/images/ADAV.jpg" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/CLCO.jpg" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/DBAV.png" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/GAME.png" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/HTCS.jpg" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/INMA.jpg" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/JAAV.png" width="240px" height="163.63px">
            </div>
            <div class="col-md-3 col-6">
                <img src="assets/images/LAYO.jpg" width="240px" height="163.63px">
            </div>
        </div>
    </div>