a{
    font-size: large;
    text-decoration: none;
    padding: 10px 30px;
    color: wheat;
}
a:hover{
    border-radius: 10px;
    color: #feac00;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgb(41, 33, 33); 
    z-index: 9999;
}
.navbar-brand{
    font-size: xx-large;
    color: #feac00;
}
nav button{
    margin: 20px 0;
    padding: 7px 20px;
    border-radius: 5px;
    background-color: rgb(250, 195, 112);
    color: black;
    border: 0px;
}
nav button:hover{
    color: #feac00;
    background: none;
    border: 1px solid;
    border-color: #feac00;
}
.intro{
    text-align: center;
    padding-top: 130px;
    padding-bottom:50px;
    background-color: rgb(248, 240, 226);
    height: 100%;
    width: 100%;
    padding-right: 15px;
}
.img-top{
    margin: 25px 0;
    width: 55%;
    height: 350px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: black;
}
.gallery{
    margin-top:50px;
    text-align: center;
}
.row{
    margin-top:50px;
}
.intro img{
    border-radius:5px;
}
.row img{
    margin: 10px 0px;
    background-color: #feac00;
    padding: 5px;
    border-radius: 5px;
}
