<nav class="navbar navbar-expand-sm">
    <!-- Brand/logo -->

    <a class="navbar-brand" [routerLink]="['/index']">FUTURE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span><i class="fas fa-bars" style="color:feac00;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav row ml-auto">
            <li class="nav-item col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="Username">Email</label>
                    <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="text" id="Username"
                        placeholder="User Name">
                </div>
            </li>
            <li class="nav-item col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input [(ngModel)]="user.matkhau" [ngModelOptions]="{standalone: true}" type="password" id="password"
                        placeholder="Your Password">
                </div>
            </li>
            <li class="nav-item col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                    <a data-toggle="modal" data-target="#myModal"><label for="password" style="cursor: pointer;">Quên mật khẩu ?</label></a>
                    <div class="modal" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Tìm lại mật khẩu</h4>
                                  <button type="button" class="close" data-dismiss="modal" (click)='resetFPW()'>&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                        <input [(ngModel)]="fpw.username" [ngModelOptions]="{standalone: true}" type="text" id="fUsername" placeholder="Nhập Username">
                                        <input [(ngModel)]="fpw.email" [ngModelOptions]="{standalone: true}" type="text" id="fEmail" placeholder="Nhập email">
                                </div>
                                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" (click)='findPW()'>Tìm mật khẩu</button>
                                  <p style="color: black; padding-top:15px;" *ngIf='isShowPW'>Mật khẩu là: <b>{{fpw.matkhau}}</b></p>
                                </div>  
                              </div>
                            </div>
                          </div>
                    <br>
                    <button (click)='logIn(user)' type="submit">Đăng nhập</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="account">
    <div class="row">
        <div class="col-lg-7 col-md-5 col-sm-12" style="text-align: center;padding: 5em 5em 3.5em;">
            <h3 style="margin: 50px 0;">QUẢN LÝ TÀI KHOẢN FUTURE CỦA BẠN</h3>
            <img src="assets/images/9.jpg" style="width: 80%;height: 65%;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin:50px 0 ">
            <h3 style="text-align: center;">Đăng ký</h3>
            <form style="margin-top:50px;">
                <div class="form-left">
                    <span><i class="far fa-user"></i></span>
                    <input [(ngModel)]="newStudent.fullname" [ngModelOptions]="{standalone: true}" type="text"
                        name="Name" placeholder="Name">
                </div>
                <div class="form-left">
                    <span><i class="far fa-envelope"></i></span>
                    <input [(ngModel)]="newStudent.email" [ngModelOptions]="{standalone: true}" type="email"
                        name="email" placeholder="Email">
                </div>
                <div class="form-left">
                    <span><i class="far fa-user"></i></span>
                    <input [(ngModel)]="newStudent.username" [ngModelOptions]="{standalone: true}" type="text"
                        name="Username" placeholder="User Name">
                </div>
                <div class="form-left">
                    <span><i class="fas fa-lock"></i></span>
                    <input [(ngModel)]="newStudent.password" [ngModelOptions]="{standalone: true}" type="password"
                        name="password" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-6"><button type="submit" (click)='registration(newStudent)'>Đăng ký</button></div>
                    <div class="col-6"><button type="reset">Hủy</button></div>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="col-6"><a [routerLink]="['/q-&-a']">Cần trợ giúp ?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>