<nav class="navbar navbar-expand-sm">
    <!-- Brand/logo -->
    <a class="navbar-brand" [routerLink]="['/index']">FUTURE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span><i class="fas fa-bars" style="color:feac00;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a [routerLink]="['/listsubject']">Làm bài thi</a>
            </li>
            <li class="nav-item ">
                <a [routerLink]="['/fixinfo']">Sửa thông tin</a>
            </li>
            <li class="nav-item ">
                <a [routerLink]="['/fixpassword']">Đổi mật khẩu</a>
            </li>
            <li class="nav-item ">
                <a [routerLink]="['/index']" (click)="logOut()">Đăng xuất</a>
            </li>
        </ul>
    </div>
</nav>
<div class="testing">
    <form>
        <div class="card">
            <div class="card-header">{{subject?.Name}}
                <div>
                    <label>Thời gian làm bài: </label>
                    <span class="ml-2 badge badge-pill badge-primary" id="timeCountDown"></span>
                </div>
            </div>
            <div class="card-body"
                *ngFor='let p of questions | paginate: { itemsPerPage: itemOnPage, currentPage: page }'>
                <h5>{{p.Text}}</h5>
                <p>Đáp án đúng: {{p.AnswerId}}</p>
                <div class="form-check" *ngFor="let t of p.Answers">
                    <input type="radio" class="form-check-input" name="p.id" value="t.id"
                        [(ngModel)]="answerId" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="radio1">
                        {{t.Text}}
                    </label>
                </div>
                <button (click)="prePage()"><i class="far fa-hand-point-left"></i></button>
                <button (click)="nextPage()"><i class="far fa-hand-point-right"></i></button>
            </div>
            <div class="card-footer"><button type="submit" class="btn btn-primary" (click)="nopBai()">Nộp bài</button></div>
        </div>
    </form>
</div>