<nav class="navbar navbar-expand-sm" >
    <!-- Brand/logo -->      
    <a class="navbar-brand" [routerLink]="['/index']">FUTURE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span><i class="fas fa-bars" style="color:feac00;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a [routerLink]="['/listsubject']">Làm bài thi</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/fixinfo']">Sửa thông tin</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/fixpassword']">Đổi mật khẩu</a>    
        </li>
        <li class="nav-item ">
                <a [routerLink]="['/index']">Đăng xuất</a>    
        </li>
    </ul>
</div>
</nav>
    <div class="testing">
            <div class="list row">
                <div class="card col-lg-3 col-md-5 col-sm-10" *ngFor="let p of list | paginate: { itemsPerPage: 6, currentPage: p }">
                    <div class="card-header">{{p.Name}}</div>
                    <div class="card-body"><img src="{{p.Logo}}" style="width: 60%;height: 60%;"></div>
                    <div class="card-footer">
                        <p>Thời gian làm bài: 60p</p>
                        <p>Số lượng câu hỏi: 50</p>
                        <p>Điểm thi lần trước: </p>
                        <button [routerLink]="['/testing']">Bắt đầu thi</button>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event" style="padding-left:10%;text-align: center;"></pagination-controls>
            </div>
    </div>
    