a{
    font-size: large;
    text-decoration: none;
    padding: 10px 30px;
    color: wheat;
}
a:hover{
    border-radius: 10px;
    color: chocolate;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color:  rgb(41, 33, 33);
    z-index: 9999;
}
.navbar-brand{
    font-size: xx-large;
    color: chocolate;
}
nav button{
    padding: 5px 20px;
    width:auto;
    background: #feac00;
    border: 1px solid #feac00;
    border-radius: 5px;
}
nav button:hover{
    background: none; 
    color: #feac00;
}
.testing{
    padding: 0 10%;
    padding-top: 100px;
    padding-bottom:50px;
    background-color: rgb(248, 240, 226);
    height: auto;
    width: auto;
}
.list .table{
    border-radius: 5px;
    float: left;
    margin: 20px;
    padding: 0;
}
.list .table tbody{
    text-align: center;
    background-color: white;
}
.table:hover thead{
    background-color: bisque;
}
.table:hover tfoot{
    background-color: bisque;
}
.list button{
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    width:auto;
    background: #feac00;
    border: 1px solid #feac00;
}
.list button:hover{
    color: chocolate;
    background: none;
}
.menu .table {
    margin: 20px;
}
.menu .table thead{
    text-align: center;
}
.menu .table a{
    font-size: unset;
    padding: 0;
    margin: 0;
    color: black;
}


